WORLD_APP_ID=app_00e63093c3a6d36ace61c9b587ffcdf8
WORLD_RP_ID=rp_d3afb26e14dc14f1
WORLD_SIGNER_ADDRESS=0xB42b59446AF0F39bb3b91D7CC50327997484742e
WORLD_SIGNING_PRIVATE_KEY=your_private_key_here
WORLD_ACTION=daily-strike
